<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Thymeleaf 링크처리 예제 페이지</h1>
    <div>
        <a th:href="@{/thymeleaf/ex01}">예제1 페이지 이동</a>  <!-- 링크 클릭 시 예제1 페이지로 이동. 스프링부트에서는 애플리케이션 root가 "/" 이다. -->
    </div>
    <div>
        <a th:href="@{https://www.thymeleaf.org/}">thymeleaf 공식 페이지 이동</a>
    </div>
    <div>
        <!-- 전달할 매개변수를 입력한 경로 끝에 (key = value) 구조로 입력. 전달할 매개변수 param1, param2에 "파라미터 데이터1,2" 데이터를 각각 입력해줌. -->
        <a th:href="@{/thymeleaf/ex06(param1 = '파라미터 데이터1', param2 = '파라미터 데이터2')}">thymeleaf 파라미터 전달</a>
    </div>
</body>
</html>